<div class="main w-full min-h-[100vh] bg-zinc-900 flex flex-col">
    <div class="p-6 flex items-center justify-between text-zinc-200 ">
        <div>
            <h3 class="text-2xl">Scatch</h3>
        </div>
        <div class="navigation flex gap-8 items-center text-lg mr-3">
            <h3>Shop</h3>
            <h3>Cart</h3>
            <h3>My Account</h3>
            <span class="text-red-400"><h3>Logout</h3></span>
        </div>
    </div>
    <div class="body flex gap-3">
        <div class="p-20 w-1/3 h-[88vh] flex flex-col gap-14 -mt-10 justify center text-white">
            <div class="sort flex flex gap-2 items-center">
                <h5 class="text-xl">sort by</h5>
                <select class="rounded-lg bg-[#484848] px-3 py-2 text-center">
                    <option>Popular</option>
                    <option>low to high</option>
                    <option>high to low</option>
                    <option>Newest</option>
                </select>
            </div>
            <div class="flex flex-col gap-2">
                <h4>New Products</h4>
                <h4>All Products</h4>
                <h4>Discounted Products</h4>
            </div>
            <div class="filter flex flex gap-2 items-center">
                <h5 class="text-xl">Filter</h5>
                <select class="rounded-lg bg-[#484848] px-3 py-2 text-center">
                    <option>Men</option>
                    <option>Women</option>
                    <option>discount</option>
                    <option>Availability</option>
                </select>
            </div>
            <div class="h-1/2 w-full rounded-lg bg-emerald-600 translate-y-2">
                <div class="picture bg-zinc-700 h-full w-full rounded-lg overflow-hidden">
                    <video class="rounded-lg" width="full" loop autoplay muted>
                        <source src="https://cdn.dribbble.com/userupload/15349717/file/original-af7abd3db4976150ee8b344d9c288497.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
    </div>
    <div class="w-full max-h-[34.375rem] overflow-auto p-4 mr-2 flex gap-5 flex-wrap rounded-lg text-white">
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/23995801/file/original-33504fcf3956b4f1c92bdd34861ef54f.jpg?resize=752x564&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/42672351/file/original-adc8a591c0a116a5580728a63f851118.png?resize=1200x853&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/28084642/file/original-8e76400663979097e4164999799a00ae.jpg?resize=1504x1128&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/9846863/file/original-4c9abfb9b84d3d19727623d384f34fe4.png?resize=1600x1200&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/27393015/file/original-9d74f760dee3575b87843c3da50d3990.png?resize=1504x1128&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/26858263/file/original-f856f93ecace9fb2788b1fd6b807e63f.jpg?resize=1504x1128&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/34886094/file/original-59097ea5b038e7990e6f251e3d46f42d.png?resize=1504x1128&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/11118137/file/original-4993ad7be46e59abf20a313fb31f713c.png?resize=1504x1128&vertical=center" class="w-full h-full object-cover"></img>
        </div>
        <div class="card bg-zinc-80 w-[21rem] h-64 rounded-lg overflow-hidden">
            <img src="https://cdn.dribbble.com/userupload/36751229/file/original-3dcb895786dc2b6da670073626b615be.jpg?resize=1024x768&vertical=center" class="w-full h-full object-cover"></img>
        </div>
    </div>
    </div>
</div>